/* HOME -- CSS */
/* ============================== */

main {
    background-color: #b9d5f3;
    flex: 1;
    font-weight: 400;
}

.project-image {
    width: 300px;
    margin: 10px;
}

#marquee-salad-image-1 {
    width: 500px;
}

.section-guts-container {
    margin-left: 74px;
    margin-right: 74px;
}



