/* CONTACT - CSS */
/* ============================== */

#contact {
    background-color: #72587a;
    color: whitesmoke;
}

#contact-guts > a {
    color: whitesmoke;
    font-weight: 400;
    text-decoration: none;
}

#contact-guts > a:hover {
    color: #fa87bb;
}