/* MENU -- CSS */
/* ============================== */

#menu-container {

    background-color: #ff0073;
    border-right: 5px double white;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    justify-content: center;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    width: 200px;
    z-index: 1000;
  }
   
  #menu-container.hide {
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1) 0s;
  }
   
  #menu-container.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1) .3s;
  }
   
  #menu-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22vw;
  }

  #menu-links h2 a {
    color: #333;
    font-family: 'Righteous', cursive;
    margin-left: 15px;
    text-decoration: none;
  }
   
  #menu-links h2 a:hover {
    color: white;
  }  