/* SKILLS -- CSS */
/* ============================== */

#skills {
    background-color: #9fcfdf
}

#skills-logos-container {
    margin: 50px;
    margin-left: 65px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#skills-logos-container>img {
    margin: 24px;
    max-height: 200px;
    max-width: 200px;
    object-fit: scale-down;
}

#python-logo {
    height: 140px;
    transform: translate(0px, 40px)
    
}