/* SKILLS -- CSS */
/* ============================== */

#skills {
    background-color: #9fcfdf
}

#skills-logos-container {
    margin: 50px;
    margin-left: 65px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#skills-logos-container>img {
    margin: 24px;
    max-height: 200px;
    max-width: 200px;
    object-fit: scale-down;
}

#python-logo {
    height: 140px;
    transform: translate(0px, 40px)
    
}

#other-skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
}

#other-skills-container>span {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    align-items: center;;
    border: 4px solid #72587a;
    border-radius: 25px;
    font-size: 1.5em;
    padding: 13px;
    margin: 15px;
    margin-top: 15px;

}