/* APP -- CSS */
/* ============================== */

@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Oswald:100,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin: 0;
}

.page-wrapper {
    height: 100%;
    width: 100vw;
}



