/* RESUME -- CSS */
/* ============================== */

#resume {
    background-color: #72587a;
    ;
    color: white;
    display: flex;
    flex-direction: column;
}

.resume-image {
    width: 440px;
    height: 600px;
}

.resume > a {
    color: magenta;
    font-size: 2em;
    text-decoration: none;
}

.resume > a:hover {
    color: blueviolet;
}