/* RESUME -- CSS */
/* ============================== */

.education-item {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.education-item>h2 {
    display: flex;
    flex-direction: row;
}

.job {
    margin: 15px;
    margin-left: 20px;
}

#resume {
    background-color: #72587a;
    color: white;
    display: flex;
    flex-direction: column;
}

#resume-content-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#resume-content-container> h2 {
    font-family: 'Righteous', cursive;
    font-size: 2em;
}

#resume-downloads {
    margin-bottom: 20px;
}

#resume-downloads>a {
    color: #2b212e;
    font-size: 1.5em;
    text-decoration: none;
}

#resume-downloads>a:hover {
    text-decoration: underline;
    
}

#lil-line {
    font-size: 2em;
    margin: 10px;
}

.resume-image {
    width: 440px;
    height: 600px;
}
